body {
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  text-align: center;
}

form {
  border: solid 3px #f1f1f1;
  max-width: 720px;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
}

section {
  padding: 16px;
}

.cancelbtn {
  width: auto;
  background-color: red;
}

section span {
  float: right;
  padding-top: 16px;
}