body {
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center; */
}

form {
  border: solid 4px #f1f1f1;
  max-width: 720px;
  margin: auto;
  padding: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin-right: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}