body {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin-bottom: 20px;
}

form {
  border: solid 3px #f1f1f1;
  max-width: 480px;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
}

section {
  padding: 0px 16px;
}

.cancelbtn {
  width: auto;
  background-color: red;
}

section p {
  padding-top: 10px;
  text-align: center;
}

.signin, .login {
  background-color: #f1f1f1;
  height: 40px;
}